.contacto {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contacto p {
    margin: 10px 0;
    color:#1496d2
}

.contacto label {
    display: block;
    margin-bottom: 5px;
}

.contacto input, .contacto select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contacto .boton-enviar {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contacto .boton-enviar:hover {
    background-color: #0056b3;
}
