body {
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.container {
    display: inline-block; /* Para que estén uno al lado del otro */
    vertical-align: top; /* Alineación vertical superior */
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    max-width: 45%;
}

.cabecera {
        position: sticky;
        top: 0;
        background-color: #333;
        color: white;
        padding: 15px;
        display: flex;
        justify-content: space-between;
}

.welcome-message {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: right; /* Alinea el texto a la derecha */
    font-family:Georgia, 'Times New Roman', Times, serif; 
    color: #008888;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.img-responsive {
    width: 100%;
    height: auto; /* La altura se ajusta automáticamente */
}

.a {
    padding: 150px 100px;
    font-size: 25px;
}

.ades {
    padding: 80px 80px;
    font-size: 24px; 
    text-decoration: none; 
    color: inherit; 
}

.ades:hover {
    color: #5a88ce;
}

.nom {
    font-size: 24px; 
    text-decoration: none; 
    color: #f0f0f0; 
}

.noM {
    font-size: 24px; 
    text-decoration: none; 
    color: #008888;
}

.titulo1 {
    text-align: center; /* Alinea el texto al centro */
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: 3em; 
    color: #008888;
}

.titulo1c {
    text-align: center; /* Alinea el texto al centro */
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: 1.2em;
}

.container .ofrece-img-container {
    display: flex;
    justify-content: center;
}

.container .ofrece-img-container img.ofrece-img {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#duda {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#duda:focus {
    outline: none;
    border-color: #5a88ce; /* Cambia el color del borde al enfocar */
}

h2{
    color: #77a1b5;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.login-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.login-button:hover {
    background-color: #005757;
}